@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");
@import "tailwindcss";
@source inline("bg-{floral,soft-floral,floral-amber,amber,soft-amber,woody-amber,woody,mossy-woods,dry-woods,fresh-aromatic,citrus,water-marine,green,fruity,fallback}");
@source inline("border-{floral,soft-floral,floral-amber,amber,soft-amber,woody-amber,woody,mossy-woods,dry-woods,fresh-aromatic,citrus,water-marine,green,fruity,fallback}");

@theme {
  --color-primary-50: oklch(0.9377 0.0138 272.69);
  --color-primary-100: oklch(0.8438 0.0359 271.52);
  --color-primary-200: oklch(0.7393 0.0595 271.83);
  --color-primary-300: oklch(0.6346 0.0839 270.46);
  --color-primary-400: oklch(0.5519 0.1075 269.48);
  --color-primary-500: oklch(0.4716 0.1309 267.52);
  --color-primary-600: oklch(0.4447 0.1302 267.94);
  --color-primary-700: oklch(0.4114 0.1275 267.24);
  --color-primary-800: oklch(0.376 0.1258 267.37);
  --color-primary-900: oklch(0.3132 0.1185 267.92);
  --color-primary-950: oklch(0.25 0.1185 267.92);

  --color-neutral-cool-50: oklch(0.9808 0.0091 258.34);
  --color-neutral-cool-100: oklch(0.9646 0.0166 271.24);
  --color-neutral-cool-200: oklch(0.9398 0.0231 277.95);
  --color-neutral-cool-300: oklch(0.8942 0.0234 277.93);
  --color-neutral-cool-400: oklch(0.7844 0.023 274.66);
  --color-neutral-cool-500: oklch(0.6824 0.0237 277.31);
  --color-neutral-cool-600: oklch(0.547 0.0238 273.75);
  --color-neutral-cool-700: oklch(0.4772 0.0228 275.93);
  --color-neutral-cool-800: oklch(0.3628 0.0245 275.62);
  --color-neutral-cool-900: oklch(0.2324 0.024 270.17);

  /* Fragrance families with similar brightness and saturation */
  --color-floral: oklch(0.91 0.07 357.2);
  --color-soft-floral: oklch(0.92 0.02 299.7);
  --color-floral-amber: oklch(0.7 0.16 55);
  --color-amber: oklch(0.53 0.14 53.6);
  --color-soft-amber: oklch(0.74 0.08 73.1);
  --color-woody-amber: oklch(0.4 0.1 50);
  --color-woody: oklch(0.33 0.06 47.9);
  --color-mossy-woods: oklch(0.35 0.07 131.6);
  --color-dry-woods: oklch(0.5 0.06 63.8);
  --color-fresh-aromatic: oklch(0.88 0.03 240);
  --color-citrus: oklch(0.95 0.2 98.7);
  --color-water-marine: oklch(0.7 0.11 254.9);
  --color-green: oklch(0.52 0.08 141.2);
  --color-fruity: oklch(0.57 0.2 37.9);
  /* Fallback */
  --color-fallback: #4a4a4a; /* A neutral gray */

  --color-men: oklch(0.35 0.13 258.8);
  --color-women: oklch(0.7 0.18 350);
  --color-unisex: oklch(0.35 0.02 268.2);

  --font-tiktok: "TikTok Sans", sans-serif;

  /* Breakpoint */
  --breakpoint-max-break-w: 1440px;
}

@layer {
  .tag {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
}

/* floral
soft-floral
floral-amber
amber
soft-amber
woody-amber
woody
mossy-woods
dry-woods
fresh-aromatic
citrus
water-marine
green
fruity */
